<a href="https://colab.research.google.com/github/bobbykawade/Python-Practice-Problems/blob/bobbykawade-patch-1/Python_Data_Structures_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Strings

In [1]:
my_str = "My Name is Bobby Kawade. I am a Data Scientist"

In [2]:
print(my_str.isalnum())

False

In [3]:
print((my_str.format()))

My Name is Bobby Kawade. I am a Data Scientist

In [ ]:
print(my_str.)

# Lists

In [4]:
type([])

list

In [6]:
lst = list()
type(lst)

list

In [7]:
lst_1 = ['Maths', 'Bobby', 1, 2, 3, 4, 5.4]

In [8]:
lst_1

['Maths', 'Bobby', 1, 2, 3, 4, 5.4]

In [9]:
## Append
lst_1.append('Numbers')

In [10]:
lst_1

['Maths', 'Bobby', 1, 2, 3, 4, 5.4, 'Numbers']

In [11]:
## Indexing of the List

lst_1[2]

1

In [12]:
lst_1[1:]

['Bobby', 1, 2, 3, 4, 5.4, 'Numbers']

In [13]:
lst_1[1:6]

['Bobby', 1, 2, 3, 4]

In [14]:
# Nested List
lst_1.append(['Mumbai', 'Data Analysis', 8])

In [15]:
lst_1

['Maths', 'Bobby', 1, 2, 3, 4, 5.4, 'Numbers', ['Mumbai', 'Data Analysis', 8]]

In [16]:
## Insert Fuction - Helps to Add element at Particular Position
lst_1.insert(2, "Nagpur")

In [17]:
lst_1

['Maths',
 'Bobby',
 'Nagpur',
 1,
 2,
 3,
 4,
 5.4,
 'Numbers',
 ['Mumbai', 'Data Analysis', 8]]

In [18]:
## Extend - To add element as a Seperate element not as Nested List like append Function
lst_2 = [1,2,3,4,5,6,7]
lst_2

[1, 2, 3, 4, 5, 6, 7]

In [21]:
lst_2.extend([8,9])
lst_2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 8, 9]

In [22]:
# Various Operation Perform on Lists

lst_3 = [1,2,3,4,5]

In [23]:
sum(lst_3)

15

In [24]:
## Pop - Removes the Last Element or we can give number which we want to remove

lst_3.pop()

5

In [25]:
lst_3

[1, 2, 3, 4]

In [27]:
lst_3.pop(2)

3

In [28]:
lst_3

[1, 2, 4]

In [29]:
## Count - Calculates the Total occurances of given element
lst_4 = [1,1,2,3,4,1,6,7,8,8,9,9,9]

In [30]:
lst_4.count(1)

3

In [31]:
# Length of the List
len(lst_4)

13

In [32]:
# Index Function - Returns the Index of First Occurance - Start and End Index are not necessary parameters

lst_4.index(1,3,6)

5

In [33]:
## Min and Max 
min(lst_4)

1

In [34]:
max(lst_4)

9

In [35]:
## Opearations 

lst_4*2

[1, 1, 2, 3, 4, 1, 6, 7, 8, 8, 9, 9, 9, 1, 1, 2, 3, 4, 1, 6, 7, 8, 8, 9, 9, 9]